/*footer---------------------------------------------------------------------------------------------------------------------------------------------*/
footer {
    background: #fff;
    padding-left: 0px;
    display: flex; /* Use a flex container to arrange child elements */
    flex-direction: column; /* Arrange child elements in a column */
    flex-wrap: wrap; /* Wrap elements to the next line if needed */
    width: 100%;
}

/* Styling for the container of boxes within the footer */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 4fr)); /* Use responsive grid columns for box arrangement*/
    gap: 40px; /* Set the gap between grid items */
}

/* Styling for the heading within each box */
.box-container .box h3 {
    padding: 10px 0;
}

/* Styling for the links within each box */
.box-container .box .links {
    padding: 10px 0; /* Add padding to the links */
    display: flex;
    flex-direction: row; /* Arrange flex links in a row */
    text-decoration: none; /* Remove underlines from links */
    color: black;
}

/* Styling for link hover effect */
.box-container .box .links:hover {
    color: #244667; /* Change link color on hover to a shade of blue */
}

/* Styling for images within the footer */
footer img {
    max-width: 50px;
    max-height: 50px;
    padding: 10px;
}

/* Styling for the thank you message displayed after submission */
#thank-you-message {
    display: none; /* Initially hide the thank you message */
    color: #244667; /* Set the color of the thank you message */
    margin-top: 10px; /* Add margin to the top of the message */
}

@media (max-width: 768px){
    .box-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr); /* Use responsive grid columns for box arrangement*/
        gap: 40px; /* Set the gap between grid items */
    }
}