/*footer---------------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    background: #fff;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 4fr));
    gap: 40px;
}

.box-container .box h3 {
    padding: 10px 0;
}

.box-container .box h3 i{
    color: #244667;
}

.box-container .box .links{
    /*line-height: 1.8;*/
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.box-container .box .links:hover {
    color: #244667;
    padding-right: 10px;
}

#sms{
    height: 50px;
    border-radius: .5rem;
    margin-left: .2rem;
}

footer img{
    max-width: 50px;;
    max-height: 50px;
    padding: 10px;
}

#thank-you-message {
    display: none;
    color: #244667;
    margin-top: 10px;
}