* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Adding this will make the each box include its border width in sizing */
    font-family:'Gill Sans', 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    object-fit: cover;
}

/*slider-------------------------------------------------------------------------------------------------------------------------------*/
.gallery {
    width: 100%;
    height: 400px;
    margin: 50px auto;
    border: 2px solid #ccc;
    background-color: #fff;
    position: relative;
}

.gallery .master-div img {
    width: 100%;
    height: 100%;
}

.gallery .master-div {
    height: 100%;
    width: 100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    position:relative;
}
  
.gallery .master-div h3 {
    position: absolute;
    cursor: pointer;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align:center;
    line-height:30px;
    background-color: #244667;
    top: 50%;
}
  
.gallery .master-div .arrow-left {
    left:1%;
    z-index:5;
}
  
.gallery .master-div .arrow-right {
    right: 1%;
    z-index:5;
}
  
.thumbnails {
    top:0;
    right:0;
    left:0;
    bottom:0;
    position: absolute;
    font-size: 18px;
    z-index:3;
}
  
p.first-msg {
    line-height:550px;
    text-align:center;
    color: white;
}
  
p.other-msg {
    display:none;
    line-height:550px;
    text-align:center;
    color: white;
}
  
.gallery .master-div .over-lay {
    height:100%;
    width:100%;
    position: absolute;
    background-color: black;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0.5;
    z-index:2;
}
  
.thumbnails-img  {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
}
  
.thumbnails-img .other-img {
    position: absolute;
    display: none;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

/* home--------------------------------------------------------------------------------------------------------------------*/
.home {
    padding: 100px 20px 20px;
    padding-left: 40px;
}

.home div {
    margin: 40px;
}

/*profile page-------------------------------------------------------------------------------------------------------------------------------*/
.profileList h1{
    padding: 20px 40px 0px;
    margin-left: 40px;
    display: flex;
}

.members{
    justify-content: center;
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px;
    gap: 30px;
}

.members .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;;
    object-fit: cover;
    transition: 0.5s; 
}

.members .item:hover img{
    transform: scale(1.2);
}

.members .item {
    color: #c7c3c3;
    position: relative;
    transition: 0.5s;
}

.members .item .content{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 3px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.members .item:hover .content{
    opacity: 1;
    transform: translateY(0);
}

.members:hover .item:not(:hover){
    filter: blur(8px);
}

/*discography page --------------------------------------------------------------------------------------------------------------*/
.discography h1 {
    padding: 20px 40px;
    margin-left: 40px;
}

.discography h2 {
    padding: 20px 40px;
    margin-left: 40px;
}

.albums{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.albums img{
    width: 300px;
    max-height: 300px;
    border-radius: 20%;
    padding: 20px;
}

.promo_songs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.promo_songs img{
    max-width: 100%;
    max-height: 300px;
    border-radius: 20%;
    padding: 20px;
}

@media (max-width: 768px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .members{
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        grid-template-rows: 100px;
        gap: 30px;
    }

    .members .item img{
        width: 100%;
        height: 100%;
        border-radius: 10px;;
        object-fit: cover;
        transition: 0.5s; 
    }
    
}