* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}

/* header -------------------------------------------------------------------------------------------------------------------------*/
.header1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px 0px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header1 img{
    max-height: 90px;
    min-width: 120px;
}

.navbar a{
    font-size: 18px;
    position: relative;
    color: #244667;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #244667;
    transition: .3s;
}

.navbar a:hover::before{
    width:100%;
}

/* home */
.home {
    padding: 100px 20px 20px;
    padding-left: 40px;
}

.home div {
    margin: 40px;
}

/*profile page-------------------------------------------------------------------------------------------------------------------------------*/
.profileList h1{
    padding: 20px 40px 0px;
    margin-left: 40px;
    display: flex;
}

.members{
    justify-content: center;
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px;
    gap: 30px;
}

.members .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;;
    object-fit: cover;
    transition: 0.5s; 
}

.members .item:hover img{
    transform: scale(1.2);
}

.members .item {
    color: #c7c3c3;
    position: relative;
    transition: 0.5s;
}

.members .item .content{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 3px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.members .item:hover .content{
    opacity: 1;
    transform: translateY(0);
}

.members:hover .item:not(:hover){
    filter: blur(8px);
}

/*discography page --------------------------------------------------------------------------------------------------------------*/
.discography h1 {
    padding: 20px 40px;
    margin-left: 40px;
}

.discography h2 {
    padding: 20px 40px;
    margin-left: 40px;
}

.albums{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.albums img{
    width: 300px;
    max-height: 300px;
    border-radius: 20%;
    padding: 20px;
}

.promo_songs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.promo_songs img{
    max-width: 100%;
    max-height: 300px;
    border-radius: 20%;
    padding: 20px;
}

 /*music videos*/

 
/*footer---------------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

footer img{
    max-width: 100%;
    max-height: 75px;
    padding: 20px;
    justify-content: right;

}

/* responsive menu---------------------------------------------------------------------------------------------------------------------*/
.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#244667;
}

@media(max-width:768px){
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #244667;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navbar a{
        margin: 16px 0;
    }

    .navbar a.active{
        left: 0;
    }

}