* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Adding this will make the each box include its border width in sizing */
    font-family:'Gill Sans', 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    padding-left: 80px;
    padding-right: 80px;
    background-image: url('../Pictures/background.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Scales the image to cover the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed in place when scrolling */
}

.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

/*slider-------------------------------------------------------------------------------------------------------------------------------*/
.carousel {
    margin-top: 80px;
}        

.carousel-inner {
    max-height: 100vh;
    overflow: hidden; /* Ensures that the images don’t overflow the container */
}

.carousel-item img {
    height: 100%;
    width: auto;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    max-height: 100vh;
}

.carousel-caption {
    bottom: 20px;
}
        
/* home--------------------------------------------------------------------------------------------------------------------*/
.home {
    padding: 20px 20px;
    padding-left: 40px;
}

.home div {
    margin: 40px;
}

/*profile page-------------------------------------------------------------------------------------------------------------------------------*/
.profileList h1{
    padding: 20px 40px 0px;
    margin-left: 40px;
    display: flex;
}

.members{
    justify-content: center;
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px;
    gap: 30px;
}

.members .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s; 
}

.members .item:hover img{
    transform: scale(1.2);
}

.members .item {
    color: #c7c3c3;
    position: relative;
    transition: 0.5s;
}

.members .item .content{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 3px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.members .item:hover .content{
    opacity: 1;
    transform: translateY(0);
}

.members:hover .item:not(:hover){
    filter: blur(8px);
}

/*discography page --------------------------------------------------------------------------------------------------------------*/
.discography h1 {
    padding: 20px 40px;
    margin-left: 40px;
    margin-top: 80px;
}

.discography h2 {
    padding: 5px 40px;
    margin-left: 40px;
}

.covers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.covers img{
    width: 300px;
    max-height: 300px;
    border-radius: 20%;
    padding: 20px;
}

@media (max-width: 768px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    /*profile------------------------------------------------------------------------------------------------------------------*/
    .members{
        justify-content: center;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: 300px;
        gap: 10px;
        padding-left: 85px;
    }

    .members:hover .item:not(:hover){
        filter: none;
    }

    .members .item img{
        width: 200px;
        height: 300px;
        border-radius: 20px;
        object-fit: cover;
        transition: 0.5s; 
    }

    .members .item .content{
        position: absolute;
        color: #fff;
        padding: 3px;
        transform: translateY(100px);
        opacity: 1;
    }

    .members #mid{
        align-content: center;
    }

    /*album covers------------------------------------------------------------------------------------------------------------------*/
    .covers{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .covers img{
        width: 100%;
        height: 100%;
        border-radius: 20%;
        object-fit: cover;
        transition: 0.5s;
    }

    #discography{
        padding-top: 50px;
    }
}