.header1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 70px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header1 img{
    max-height: 75px;
    min-width: 100px;
}

.navbar a{
    font-size: 18px;
    position: relative;
    color: #244667;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.navbar .no_button::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #244667;
    transition: .3s;
}

.navbar .no_button:hover::before{
    width:100%;
}

.navbar button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: #fff;
    background-color: grey;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.navbar button:hover {
    background-color: #244667;
}

.navbar button:active {
    transform: scale(0.95);
}

@media (max-width: 768px){
    /* responsive menu---------------------------------------------------------------------------------------------------------------------*/
    .header1 {
        padding: 0px;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }
    
    .navbar a {
        margin: 8px 0;
    }
    
    .hamburger {
        cursor: pointer;
        /*display: none;*/
        display: block;
    }
    
    .bar {
        width: 20px;
        height: 3px;
        background-color: #244667;
        margin: 5px 0;
    }
    
}