* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Trebuchet MS', sans-serif;
}

body{
    background-image: url('Pictures/background (2).jpg');
}

@media (max-width: 768px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    
}