* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}

#start{
    display: block;
    padding: 100px 20px 20px;
    padding-left: 40px;
}

/*product display--------------------------------------------------------------------------------*/
.products{
    display: flex;
    flex-wrap: wrap;
}

.product-slider {
    flex: 1;
    margin: 0 1rem 2rem 0; /* Adjust the margin as needed */
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.product-slider .wrapper {
    display: flex;
    justify-content: center;
}

.products .product-slider .box{
    background: #fff;
    width: 250px; /* Set a fixed width for the box */
    height: 450px; /* Set a fixed height for the box */
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline:auto;
    box-shadow: inset;
    transition: .1s linear
}

.products .product-slider .box:hover{
    outline-offset: 0rem;
}

.products .product-slider .box img{
    height: 150px; /* Adjust the height as needed */
}

.products .product-slider .box h3{
    font-size: 1.5rem;
    color:black;
    margin-top: 1rem;
}

.products .product-slider .box .price{
    font-size: rem;
    color: #244667;
    padding: .5rem 0;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #2980b9;
}

.btn:active {
    transform: scale(0.95);
}


#products {
    margin-top: 2rem;
}


@media (max-width: 768px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    
}